<div class="card event-details">
        <div class="card-header  ">RoomSpace</div>
        <div class="card-body">
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="text-center">
                                <img src="a_monks_memoir.jpg" class="img-responsive" width="40%" height="70%">
            
                                <br>
                                <br>
                                <button type="button" class="btn " style="background-color: #ff9f00">View</button>
                                &nbsp;
            
                                <button type="button" class="btn " style="background-color: #ff9f00">Payment</button>
                                &nbsp;
                                <button type="button" class="btn " style="background-color: orangered">Delete</button>
            
            
                            </div>
            
                            </div>
            
                            <div class="col-md-6">
            
                                <table class="table table-bordered">
            
                                    <tbody>
            
                                        <tr>
            
                                            <td> Event Topic : </td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td> Event Name : </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Date  : </td>
                                            <td>
                                                    {{event.date | date}}
            
                                            </td>
            
                                        </tr>
                                        <tr>
                                            <td> Event Venue : </td>
                                            <td> </td>
                                        </tr>
            
                                        <tr>
                                            <td> Event host :</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td> Total no of people :</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                                          <img src="mumbai.jpg">
                                                          <img src="logo.jpg">
                                                          <img src="falls2.jpg">
                                                          <img src="paris.jpg">
                                                          <img src="nature.jpg">
                                                          <img src="mist.jpg">
                                                          <img src="paris.jpg">
                                                        
                                        </tr>

            
                                    </tbody>
            
                                </table>
            
                            </div>
                        </div>
                    </div>
        </div>
    </div>